<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl
          url="https://route.arcgis.com"
          matchAll="true"
          oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
          clientId="V7Iq0iOyHfOcJlsJ"
          clientSecret="de821915e52e49019594447ddd9f2537"
          >
      </serverUrl>
    <serverUrl
          url="http://route.arcgis.com"
          matchAll="true"
          oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
          clientId="V7Iq0iOyHfOcJlsJ"
          clientSecret="de821915e52e49019594447ddd9f2537"
          >
      </serverUrl>
    </serverUrls>
    
     
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
