div#heading {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
div#heading div.bar {
    font-family: helvetica, arial;
    font-size: 3.6em;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 1;
    color: #E6E6E6;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    text-align: left;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#header div.crawler {
    font-family: helvetica, arial;
    font-size: 3.6em;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 1;
    color: #E6E6E6;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    text-align: left;
}
*/

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

div#header {
    padding: .3em 0 .3em 0;
    background: linear-gradient(#E60000, #C10000);
    width: 100%;
    box-shadow: 0px 1px 2px #000, inset 0px 1px 2px #fff;
}
